.bckg-home{
    background-image: url('../images/totoro_dribbble.jpg');
    background-attachment: fixed;
    background-size: cover;
}
.bckg-home2{
    background-image: url(../images/sleep.gif);
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: 20rem;
    background-position: right;
    
}

.bckg-signin{
    background-image: url('../images/mononoke_dribbble.jpg');
    background-size: 28rem; 
    background-position: right;
    background-repeat: no-repeat;
}

.bckg-signup{
    background-image: url('../images/totoro.png');
    background-size: 32rem; 
    background-position: right;
    background-repeat: no-repeat;
}

.bckg-forgot{
    background-image: url('../images/calcifer.jpg');
     background-size: 25rem;
     background-repeat: no-repeat;
     background-position: right;
} 

.bckg-user{
    background-image: url('../images/ghibli_dribbble.png');
    background-attachment: fixed;
    background-size: contain;
}

.bckg-post{
    background-image: url('../images/kiki.jpg');
    background-size: 40rem;
    background-position: center;
    background-repeat: no-repeat; 
}

.bckg-find{
    background-image: url('../images/castillo.jpg');
    background-attachment: fixed;
    background-size: cover;
}

.bckg-profile{
    background-image: url('../images/ghibli.jpg');
    background-attachment: fixed;
    background-size: cover;
}

.bckg-cover{
    background: rgba(255, 255, 255, 0.9);
}
